h3 {
    display: inline;
    padding: 1rem;
}
h1 {
    padding: 1rem;
    display: inline;
}

header {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navlinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: end;
    font-size: 2ch;
    text-decoration:underline ;
}

footer {
    
  
  text-align: center;
  padding: 1rem;
}