:root {
    --yellow: #f8c11b;
    --blue: #5799d3;
    --purple:#c583bd;
    --green: #248a92;
    --red: #e3553b;
    --BGgrey: #1f1f1f;

 }

h1 {
    padding: 1rem;
    display: inline;
}
h2 {
    margin: 2rem;
}
h3 {
    display: inline;
    padding: 1rem;
}

header {  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    text-indent: 2em
}

footer {
    
    
    text-align: center;
    padding: 1rem;
}
#navlinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: end;
    font-size: 2ch;
    text-decoration:underline ;
}

.boxedtext {
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
    background-color:  #1f1e1e;
}